.body :after{
    content: "";
    display: table;
    clear: both;
}

.register {
    float: left;
    width: 50%;

    min-width: 100px;
    max-width: 25%;
    margin: 0px auto;
    padding: 2rem 3rem;
    margin: auto;
    border-radius: 2.5rem;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    color: black;
    /*margin-top: 10rem;*/  
  }

  .register mat-form-field{
      display: block;
      margin: 0.5rem 0;
      width: 85%;
  }

  .inputtext {
    display: block;
    margin: .5rem 0;
    width: 85%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.8), inset 2px 2px 10px
        rgba(0, 0, 0, 0.1);
    border: 0 none;
    background: #ebf5fc;      
  }

  .register button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #85d17f;
    width: 70%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
  }

  .listado-productos{
      float: right;
      width: 50%;
  }